<ion-header [translucent]="true">
  <ion-title>
    Sticky Notes
  </ion-title>
  <ion-label *ngIf="lastSave" class="last-save">Last save: {{ lastSave.format('h:mm:ss a') }}</ion-label>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid *ngIf="projects && projects.length > 0">
      <ion-row class="header">
        <ion-col></ion-col>
        <ion-col>Monday</ion-col>
        <ion-col>Tuesday</ion-col>
        <ion-col>Wednesday</ion-col>
        <ion-col>Thursday</ion-col>
        <ion-col>Friday</ion-col>
      </ion-row>
      <ion-row *ngFor="let p of projects">
        <ion-col class="header">{{ p.name }}</ion-col>
        <ion-col><ion-textarea [(ngModel)]="p.notes.monday" (ionBlur)="saveNotes()"></ion-textarea></ion-col>
        <ion-col><ion-textarea [(ngModel)]="p.notes.tuesday" (ionBlur)="saveNotes()"></ion-textarea></ion-col>
        <ion-col><ion-textarea [(ngModel)]="p.notes.wednesday" (ionBlur)="saveNotes()"></ion-textarea></ion-col>
        <ion-col><ion-textarea [(ngModel)]="p.notes.thursday" (ionBlur)="saveNotes()"></ion-textarea></ion-col>
        <ion-col><ion-textarea [(ngModel)]="p.notes.friday" (ionBlur)="saveNotes()"></ion-textarea></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="bottom-buttons">
    <button class="edit-projects" (click)="promptForProjects()">Edit Projects</button>
    <button class="clear-week" (click)="clearWeek()">Clear Week</button>
  </div>
</ion-content>
