<ion-header [translucent]="true">
  <img src="assets/icon/favicon.png" (click)="toggleInfo()">
  <ion-title (click)="toggleInfo()">
    Sticky Notes
  </ion-title>
  <ion-label *ngIf="lastSave" class="last-save">Last save: {{ lastSave }}</ion-label>
</ion-header>

<ion-content [fullscreen]="true">
  <div [class]="showInfo ? 'info showing' : 'info'">
    <p>Sticky Notes is intended to be an easy place to put quick notes for your projects.</p>

    <p class="foot">Made with 💜 by <a href="https://www.lyzzibrooks.com/">Lyzzi Brooks</a></p>
  </div>

  <div id="container">
    <div class="height-selector">
      <button (click)="reduceHeight()" *ngIf="textHeight > 5"><ion-icon name="remove-circle-outline"></ion-icon></button>
      <ion-label>Input height</ion-label>
      <button (click)="increaseHeight()"><ion-icon name="add-circle-outline"></ion-icon></button>
    </div>
    <ion-grid *ngIf="projects && projects.length > 0">
      <ion-row class="header">
        <ion-col size="1"></ion-col>
        <ion-col>
          <div class="header-content">
            <ion-label>{{ headers.mo }}</ion-label>
            <button (click)="toggleOffStatus('monday')" [class]="projects.isOff.monday ? 'isOff' : ''">
              <ion-icon *ngIf="projects.isOff.monday" name="close-circle-outline"></ion-icon>
              <ion-icon *ngIf="!projects.isOff.monday" name="ellipse-outline"></ion-icon>
              <div class="hover-content">
                <ion-label><b>I'm off!</b><br>A visual representation<br>of your available days.</ion-label>
                <!-- <div class="down-triangle"></div> -->
              </div>
            </button>
          </div>
        </ion-col>
        <ion-col>
          <div class="header-content">
            <ion-label>{{ headers.tu }}</ion-label>
            <button (click)="toggleOffStatus('tuesday')">
              <ion-icon *ngIf="projects.isOff.tuesday" name="close-circle-outline"></ion-icon>
              <ion-icon *ngIf="!projects.isOff.tuesday" name="ellipse-outline"></ion-icon>
              <div class="hover-content">
                <ion-label><b>I'm off!</b><br>A visual representation<br>of your available days.</ion-label>
                <!-- <div class="down-triangle"></div> -->
              </div>
            </button>
          </div>
        </ion-col>
        <ion-col>
          <div class="header-content">
            <ion-label>{{ headers.we }}</ion-label>
            <button (click)="toggleOffStatus('wednesday')">
              <ion-icon *ngIf="projects.isOff.wednesday" name="close-circle-outline"></ion-icon>
              <ion-icon *ngIf="!projects.isOff.wednesday" name="ellipse-outline"></ion-icon>
              <div class="hover-content">
                <ion-label><b>I'm off!</b><br>A visual representation<br>of your available days.</ion-label>
                <!-- <div class="down-triangle"></div> -->
              </div>
            </button>
          </div>
        </ion-col>
        <ion-col>
          <div class="header-content">
            <ion-label>{{ headers.th }}</ion-label>
            <button (click)="toggleOffStatus('thursday')">
              <ion-icon *ngIf="projects.isOff.thursday" name="close-circle-outline"></ion-icon>
              <ion-icon *ngIf="!projects.isOff.thursday" name="ellipse-outline"></ion-icon>
              <div class="hover-content">
                <ion-label><b>I'm off!</b><br>A visual representation<br>of your available days.</ion-label>
                <!-- <div class="down-triangle"></div> -->
              </div>
            </button>
          </div>
        </ion-col>
        <ion-col>
          <div class="header-content">
            <ion-label>{{ headers.fr }}</ion-label>
            <button (click)="toggleOffStatus('friday')">
              <ion-icon *ngIf="projects.isOff.friday" name="close-circle-outline"></ion-icon>
              <ion-icon *ngIf="!projects.isOff.friday" name="ellipse-outline"></ion-icon>
              <div class="hover-content friday">
                <ion-label><b>I'm off!</b><br>A visual representation<br>of your available days.</ion-label>
                <!-- <div class="down-triangle"></div> -->
              </div>
            </button>
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let p of projects">
        <ion-col class="header" size="1">{{ p.name }}</ion-col>
        <ion-col><ion-textarea [rows]="textHeight" [(ngModel)]="p.notes.monday" (ionChange)="saveNotes()" [class]="projects.isOff.monday ? 'disabled' : ''"></ion-textarea></ion-col>
        <ion-col><ion-textarea [rows]="textHeight" [(ngModel)]="p.notes.tuesday" (ionChange)="saveNotes()" [class]="projects.isOff.tuesday ? 'disabled' : ''"></ion-textarea></ion-col>
        <ion-col><ion-textarea [rows]="textHeight" [(ngModel)]="p.notes.wednesday" (ionChange)="saveNotes()" [class]="projects.isOff.wednesday ? 'disabled' : ''"></ion-textarea></ion-col>
        <ion-col><ion-textarea [rows]="textHeight" [(ngModel)]="p.notes.thursday" (ionChange)="saveNotes()" [class]="projects.isOff.thursday ? 'disabled' : ''"></ion-textarea></ion-col>
        <ion-col><ion-textarea [rows]="textHeight" [(ngModel)]="p.notes.friday" (ionChange)="saveNotes()" [class]="projects.isOff.friday ? 'disabled' : ''"></ion-textarea></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="bottom-buttons">
    <button class="edit-projects" (click)="promptForProjects()">Edit Projects</button>
    <button class="clear-week" (click)="clearWeek()">Clear Week</button>
  </div>
</ion-content>
