#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;

  margin: 0 auto;
  width: 100%;
  overflow: scroll;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-header {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  z-index: 999;
  background: #f7f7f7;

  img {
    cursor: pointer;
    height: 25px;
  }

  ion-title {
    cursor: pointer;
    color: black;
    padding-left: 10px;
  }

  ion-label {
    color: darkgray;
  }
}

.info {
  position: absolute;
  z-index: 990;
  top: -200px;
  background-color: #f7f7f7;
  width: 100%;
  padding: 0px 20px;
  box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 57%);
  transition: all 0.5s ease-out;

  &.showing {
    top: 45px;
  }
}

ion-grid {
  ion-row {
    min-height: 100px;

    &.header {
      font-weight: bold;
      min-height: 25px;
    }

    ion-col {

      &.header {
        font-weight: bold;
        text-align: right;
      }

      ion-textarea {
        border: 1px solid slategray;
        margin-top: 0px;
        background-color: white;
        font-size: 12px;
        height: 100%;
        text-align: left;
        --padding-end: 10px;
      }
    }
  }
}

.bottom-buttons {
  position: absolute;
  bottom: 0px;
  width: 100%;

  button {
    width: 50%;
    padding: 20px 10px;
    background: transparent;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: black;

    &.clear-week {
      color: darkred;
    }
  }
}
