#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;

  margin: 0 auto;
  width: 90%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-header {
  padding: 10px;
  display: flex;
  align-items: center;

  ion-title {
    color: black;
  }

  ion-label {
    color: darkgray;
  }
}

ion-grid {
  ion-row {

    &.header {
      font-weight: bold;

    }

    ion-col {

      &.header {
        font-weight: bold;
        text-align: right;
      }

      ion-textarea {
        border: 1px solid slategray;
        margin-top: 0px;
        background-color: white;
      }
    }
  }
}

.bottom-buttons {
  position: absolute;
  bottom: 0px;
  width: 100%;

  button {
    width: 50%;
    padding: 20px 10px;
    background: transparent;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: black;

    &.clear-week {
      color: darkred;
    }
  }
}
